@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 220 16% 96%;
    --foreground: 220 16% 20%;
    --card: 220 16% 98%;
    --card-foreground: 220 16% 20%;
    --popover: 220 16% 98%;
    --popover-foreground: 220 16% 20%;
    --primary: 213 32% 52%;
    --primary-foreground: 220 16% 98%;
    --secondary: 220 16% 90%;
    --secondary-foreground: 213 32% 52%;
    --muted: 220 10% 92%;
    --muted-foreground: 220 16% 40%;
    --accent: 220 16% 86%;
    --accent-foreground: 220 16% 20%;
    --destructive: 354 42% 56%;
    --destructive-foreground: 220 16% 98%;
    --border: 220 16% 85%;
    --input: 220 16% 85%;
    --ring: 213 32% 52%;
    --chart-1: 213 32% 52%;
    --chart-2: 179 25% 65%;
    --chart-3: 193 43% 67%;
    --chart-4: 210 34% 63%;
    --chart-5: 311 20% 63%;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
    --sidebar-primary: 240 5.9% 10%;
  }

  .dark {
    --background: 220 16% 16%;
    --foreground: 220 16% 90%;
    --card: 220 16% 18%;
    --card-foreground: 220 16% 90%;
    --popover: 220 16% 18%;
    --popover-foreground: 220 16% 90%;
    --primary: 213 32% 62%;
    --primary-foreground: 220 16% 16%;
    --secondary: 220 16% 25%;
    --secondary-foreground: 213 32% 62%;
    --muted: 220 16% 22%;
    --muted-foreground: 220 16% 70%;
    --accent: 220 16% 28%;
    --accent-foreground: 240 4.8% 95.9%;
    --destructive: 354 42% 56%;
    --destructive-foreground: 220 16% 98%;
    --border: 220 16% 25%;
    --input: 220 16% 25%;
    --ring: 213 32% 62%;
    --chart-1: 213 32% 62%;
    --chart-2: 179 25% 55%;
    --chart-3: 193 43% 57%;
    --chart-4: 210 34% 53%;
    --chart-5: 311 20% 53%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
    --sidebar-primary: 224.3 76.3% 48%;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .card {
    @apply rounded-xl bg-card text-card-foreground p-6 shadow-sm border;
  }
  .chart {
    @apply flex flex-col border w-full shadow-sm;
  }
}

.nav-link {
  @apply transition-colors duration-300 hover:text-primary relative after:content-[''] after:absolute after:left-0 after:bottom-0 after:h-[2px] after:w-0 hover:after:w-full after:bg-primary after:transition-all after:duration-300;
}
